<div class="row">
  <div class="col-12">
    <h4 class="">{{ title }}</h4>
  </div>
</div>

<div class="row">
  <div class="col-6 mb-4">
    <div class="card">
      <div class="card-body">
        <app-bar-chart></app-bar-chart>
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card">
      <div class="card-body">
        <app-area-chart></app-area-chart>
      </div>
    </div>
  </div>

  <div class="col-6 mb-4">
    <div class="card" style="min-height: 400px;">
      <div class="card-body">
        <app-donut-chart></app-donut-chart>
      </div>
    </div>
  </div>

  <div class="col-6 mb-4">
    <div class="card">
      <div class="card-body">
        <app-bar-horizontal></app-bar-horizontal>
      </div>
    </div>
  </div>

</div>
