<div class="relative">
    <div class="loader-content" *ngIf="loading">
      <div></div>
    </div>
  
    <div class="" style="min-height: 200px">
      <form
        *ngIf="loadedForm"
        [formGroup]="form"
        (ngSubmit)="store()"
        autocomplete="off"
      >
        <div class="modal-header">
          <h4 class="modal-title">
            <span class="me-1" *ngIf="edit?.id">Editar</span>
            <span class="me-1" *ngIf="!edit?.id">Crear</span>
            Posición
          </h4>
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
    
         
            <div class="col-12 mb-2">
              <label for="">Posición</label>
              <input appAutoFocus formControlName="posicion" type="text" class="form-control" />
              <div *ngIf="validate('posicion').valid" class="text-error">
                {{ validate("posicion").error }}
              </div>
            </div>
  
            
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-secondary">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
    <!-- (click)="modal.close('Close click')" -->
  </div>
  