<div class="relative">
  <div class="loader-content" *ngIf="loading">
    <div></div>
  </div>

  <div class="" style="min-height: 200px">
    <form
      *ngIf="loadedForm"
      [formGroup]="form"
      (ngSubmit)="store()"
      autocomplete="off"
    >
      <div class="modal-header">
        <h4 class="modal-title">
          <span class="me-1" *ngIf="edit?.id">Editar</span>
          <span class="me-1" *ngIf="!edit?.id">Crear</span>
          plan
        </h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
  
          


          <div class="col-4 mb-2">
            <label for="">Nombre plan</label>
            <input appAutoFocus formControlName="nombre" type="text" class="form-control" maxlength="40"/>
            <div *ngIf="validate('nombre').valid" class="text-error">
              {{ validate("nombre").error }}
            </div>
          </div>

          <div class="col-4 mb-2">
            <label for="">Límite</label>
            <input
              formControlName="limite"
              type="text"
              class="form-control"
              maxlength="40"
            />
            <div *ngIf="validate('limite').valid" class="text-error">
              {{ validate("limite").error }}
            </div>
          </div>
          <div class="col-4 mb-2">
            <label for="">Precio</label>
            <input
              formControlName="precio"
              type="text"
              class="form-control"
              maxlength="40"
            />
            <div *ngIf="validate('precio').valid" class="text-error">
              {{ validate("precio").error }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
  <!-- (click)="modal.close('Close click')" -->
</div>
